body {
	background-color	: #000;
	background-image	: url(../images/background.jpg);
	background-position	: 50% 0;
	background-repeat	: no-repeat;
}

#ytapiplayer {
	display		: block;
	position	: relative;
	margin-left	: auto;
	margin-right	: auto;
	width		: 347px;
	height		: 196px;
}